<div class="heading">
  <h1> Welcome Admin </h1>
</div>
<p align="right", style="align-content: end; font-family: Arial; font-size: medium" >
  <%= link_to "Logout", sessions_destroy_path  %> </p>

<div class="msg">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>
</div>
<br>

<div class="admin">
  <p align="center"><table>
  <tr>
    <th><%= link_to "Student", students_login_url  %> </th>
    <th><%= link_to "Librarian", librarians_login_url %> </th>
    <th><%= link_to "Libraries", libraries_index_url%> </th>
    <th><%= link_to "Books", books_index_url %> </th>
    <th><%= link_to "Users", admins_users_path %> </th>
    <th><%= link_to "Books On Hold", admins_books_on_hold_path %> </th>
    <th><%= link_to "Checked Out Books", admins_checked_path %> </th>
    <th><%= link_to "Books History", admins_borrow_history_path %> </th>
    <th><%= link_to "Overdue Fine", admins_overdue_path %> </th>
  </tr>
</table></p>
</div>