<div class="heading">
  <h1>Users</h1>
</div>
<br/>

<br>
<div class="msg">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>
</div>
<br>

<h2> Students </h2>
<div class="admin">
  <table>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Education</th>
      <th>University</th>
      <th>Edit</th>
      <th>Show</th>
      <th>Delete</th>
    </tr>

    <% @students.each do |s| %>
      <tr>
        <td><%= s.email %></td>
        <td><%= s.name %></td>
        <td><%= s.education %></td>
        <td><%= s.university %></td>
        <td><%= link_to 'Edit', admin_edit_path(s) %></td>
        <td><%= link_to 'Show', admin_show_path(s) %></td>
        <td><%= link_to 'Destroy', admins_delete_path(:student_id => s.id) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
  <br/>
</div>

<h2> Librarian </h2>
<div class="admin">
  <table>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Library</th>
      <th>Edit</th>
      <th>Show</th>
      <th>Delete</th>
    </tr>

    <% @librarians.each do |l| %>
      <tr>
        <td><%= l.email %></td>
        <td><%= l.name %></td>
        <td><%= l.library %></td>
        <td><%= link_to 'Edit', admin_edit_librarian_path(l) %></td>
        <td><%= link_to 'Show', admin_show_librarian_path(l) %></td>
        <td><%= link_to 'Destroy', admins_delete_path(:lib_id => l.id) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
  <br/>
</div>

