<!DOCTYPE html>
<html lang="en">
<head>
  <title>Students Landing Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Digital Library</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to "Home", students_path %></li>
      <li><%= link_to "Libraries", students_library_list_path(type: "library_list")%></li>
      <li><%= link_to "Books", students_books_path(type: "books") %></li>
      <li><%= link_to "Checkout History", students_history_request_path(type: "history_request") %></li>
    </ul>
  </div>
</nav>
<div class="container">
  <input class='form-control' id='myInput' type='text' placeholder='Search for book from table'>
  <%= form_tag students_history_request_path do %>
    <table class='table table-striped'>
      <thead>
      <tr>
        <th scope="col">ISBN</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Language</th>
        <th scope="col">Published</th>
        <th scope="col">Edition</th>
        <th scope="col">Image</th>
        <th scope="col">Subject</th>
        <th scope="col">Summary</th>
        <th scope="col">Special?</th>
        <th scope="col"> Hold Requests</th>
        <th data-sort-ignore="true">Checkout</th>
        <th scope="col">Bookmark</th>
      </tr>
      </thead>
      <tbody id="myTable">
      <%= if !@books.nil? then @books.each do |book| %>
          <tr>
            <td><%= book.isbn %></td>
            <td><%= book.title%></td>
            <td><%= book.author %></td>
            <td><%= book.language %></td>
            <td><%= book.published %></td>
            <td><%= book.edition %></td>
            <td><%= image_tag book.image.url(:thumb) %></td>
            <td><%= book.subject %></td>
            <td><%= book.summary %></td>
            <td><%= book.special %></td>
            <td><%= book.number_holdrequest %></td>
            <%if book.university == @student.university %>
            <td><%= check_box_tag "book_ids[]", book.id, false, class: 'selectable' %>
            </td>
              <%else %>
              <td></td>
              <%end %>
            <td><%= link_to students_bookmark_path(type: "bookmark", :book_id => book.id) do %>
                <button>BookMark</button>
              <% end %></td>
          </tr>
        <% end %>
      <% end %>
  <% end %>
  </tbody>
  </table>
  </form>
  <%= submit_tag "check out", :class => 'btn btn-primary btn-xs' %>
  <script>
      $(document).ready(function(){
          $("#myInput").on("keyup", function() {
              var value = $(this).val().toLowerCase();
              $("#myTable tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
              });
          });
      });
  </script>
</div>
</body>
</html>