<div class="heading">
  <h1>Edit Student</h1></div>
</div>

<div class="msg">
  <ul>
    <% @student.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>

<div class="forms">
  <%= form_for @student do |form| %>

    <p>
      <%= form.label :emaill %><br>
      <%= form.text_field :email %>
    </p>

    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>

    <p>
      <%= form.label :password %><br>
      <%= form.password_field :password %>
    </p>

    <p>
      <%= form.submit %>
    </p>

  <% end %>
</div>



