<!DOCTYPE html>
<html lang="en">
<head>
  <title>Students Landing Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Digital Library</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to "Home", students_path %></li>
      <li><%= link_to "Libraries", students_library_list_path(type: "library_list")%></li>
      <li><%= link_to "Books", students_books_path(type: "books") %></li>
      <li><%= link_to "Checkout History", students_history_request_path(type: "history_request") %></li>
      <li><%= link_to "Logout", sessions_destroy_path %></li>
    </ul>
  </div>
</nav>

<div class="container">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Library</th>
      <th scope="col">ISBN</th>
      <th scope="col">Status</th>
      <th scope="col">Time Checked out</th>
      <th scope="col">Return</th>
      <th scope="col">Delete Reservation</th>
    </tr>
    </thead>
    <tbody>
    <% if !@hist_req.nil? then @hist_req.each do |hist| %>
        <tr>
          <td><%= hist.library_name %></td>
          <td><%= hist.isbn%></td>
          <td><%= hist.status %></td>
          <td><%= hist.updated_at %></td>
          <% if hist.status == "Checked Out" %>
          <td><%= link_to students_book_return_path(type: "book_return", :hist_id => hist.id) do %>
            <button>Return</button>
            <%  end  %></td>
            <%else %>
            <td><%= link_to students_book_return_path(type: "book_return", :hist_id => hist.id) do %>
                <button disabled>Return</button>
              <%  end  %></td>
            <%end %>
          <% if hist.status == "Waiting for Approval" %>
            <td><%= link_to students_book_delete_reservation_path(type: "delete_reservation", :hist_id => hist.id) do %>
                <button>Delete Reservation</button>
              <%  end  %></td>
          <%else %>
            <td><%= link_to students_book_delete_reservation_path(type: "delete_reservation", :hist_id => hist.id) do %>
                <button disabled>Delete Reservation</button>
              <%  end  %></td>
          <%end %>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
</body>
</html>
