<h1>Register for Digital Library</h1>
<%= form_with scope: :student, url:students_path, local: true do |form| %>
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>

  </p>
  <p>
    <%= form.label :password %><br>
    <%= form.password_field :password %>

  </p>
  <p>
    <%= form.label :education %><br>
    <%= form.radio_button :education, 'undergrad', :checked => true %>
    <%= form.label :undergrad, 'UnderGraduate' %>
    <%= form.radio_button :education, 'graduate' %>
    <%= form.label :graduate, 'Graduate' %>
    <%= form.radio_button :education, 'phd' %>
    <%= form.label :phd, 'PhD' %>

  </p>
  <p>
    <%= form.label :university %><br>
    <%= form.text_field :university %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
