<p>
  <strong>isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>language:</strong>
  <%= @book.language %>
</p>

<p>
  <strong>published:</strong>
  <%= @book.published %>
</p>

<p>
  <strong>edition:</strong>
  <%= @book.edition %>
</p>

<p>
  <strong>image:</strong>
  <%= @book.image %>
</p>

<p>
  <strong>subject:</strong>
  <%= @book.subject %>
</p>

<p>
  <strong>summary:</strong>
  <%= @book.summary %>
</p>

<p>
  <strong>special:</strong>
  <%= @book.special %>
</p>

<p>
  <strong>library:</strong>
  <%= @book.library %>
</p>

<p>
  <strong>university:</strong>
  <%= @book.university %>
</p>

<p>
  <strong>number_avaiable:</strong>
  <%= @book.number_available %>
</p>

<p>
  <strong>number_checkedout:</strong>
  <%= @book.number_checkedout %>
</p>

<p>
  <strong>number_holdrequest:</strong>
  <%= @book.number_holdrequest %>
</p>