<div class="heading">
  <h1>Show Book</h1>
</div>

<div class="admin">
<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Language:</strong>
  <%= @book.language %>
</p>

<p>
  <strong>Published:</strong>
  <%= @book.published %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @book.edition %>
</p>

<p>
  <strong>Cover:</strong>
  <%= image_tag @book.image.url(:thumb) %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @book.subject %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @book.summary %>
</p>

<p>
  <strong>Special:</strong>
  <%= @book.special %>
</p>

<p>
  <strong>Library:</strong>
  <%= @book.library %>
</p>

<p>
  <strong>University:</strong>
  <%= @book.university %>
</p>

<p>
  <strong>In Stock:</strong>
  <%= @book.number_available %>
</p>

<p>
  <strong>Checkedout:</strong>
  <%= @book.number_checkedout %>
</p>

<p>
  <strong>Holdrequest:</strong>
  <%= @book.number_holdrequest %>
</p>
</div>