<div class="heading">
  <h1 >Digital Library</h1></div>
</div>
<br>
<br>
<div class="msg">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>
</div>
<br>

<div class="body">
  <p align="right"><%= link_to "Admin", admins_login_path%></p>
  <table>
    <tr>
      <th><%= link_to image_tag("home/students.png", width: "675px"), students_login_url %></th>
      <th><%= link_to image_tag("home/staff.png", width: "745px", height: "363px"), librarian_login_url %></th>
    </tr>
    <tr>
      <th><%= link_to "Students", students_login_url %></th>
      <th><%= link_to "Staff", librarian_login_url %></th>
    </tr>
  </table>
</div>



