<h1>Welcome to Digital Library</h1>
<h2>Login</h2>

<%= form_with scope: :student, url: students_path, local:  true do |f| %>
  <p>
    <%=f.label :email %><br/>
    <%=f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :Who_are_you? %><br>
    <%= f.radio_button :Who_are_you?, 'Student', :checked => true %>
    <%= f.label :undergrad, 'Student' %>
    <%= f.radio_button :Who_are_you?, 'Staff' %>
    <%= f.label :graduate, 'Staff' %>
    <%= f.radio_button :Who_are_you?, 'Admin' %>
    <%= f.label :phd, 'Admin' %>
  </p>
  <%= f.submit :Login %><br>
  <br>
  <%= link_to 'New User Please Register here', new_student_path %>
<% end %>
