<h1>Hold Request</h1>

<table>
  <thead>
  <tr>
    <th scope="col">Student Name</th>
    <th scope="col">Student Email</th>
    <th scope="col">Library</th>
    <th scope="col">ISBN</th>
    <th scope="col">Status</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @hold.each do |hist| %>
    <tr>
      <td><%= hist.student_name %></td>
      <td><%= hist.student_email %></td>
      <td><%= hist.library_name %></td>
      <td><%= hist.isbn%></td>
      <td><%= hist.status %></td>
      <td><%= link_to 'Approve'%></td>
    </tr>
  <%end %>
  </tbody>
</table>
