<!DOCTYPE html>
<html lang="en">
<h1>Librarian DashBoard</h1>
  <body>
  <% @librarian = Librarian.find(session[:id]) %>
  <td><%= link_to "Books", librarians_books_path %></td><br>
  <td><%= link_to "View Hold Request", librarians_show_path%></td><br>
  <td><%= link_to "View Checkedout", librarians_checkedout_request_path%></td><br>
  <td><%= link_to "View BorrowingHistory", librarians_borrow_path%></td><br>
  <td><%= link_to 'Edit My profile', librarian_edit_path(session[:id]) %></td><br>
  <td><%= link_to 'Logout', sessions_destroy_path %></td><br>
  <td><%= link_to 'View Student Fines', librarians_fine_path%></td><br>
  <% @library = Library.find_by_name(@librarian.library) %>
  <td><%= link_to 'Edit Library', edit_library_path(@library) %></td><br>

  </body>
</html>
