<div class="heading">
  <h1>Librarians Login</h1></div>
</div>

<div class="msg">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>
</div>
<br>

<div class="forms">

  <%= form_with scope: :sessions, url: sessions_url, local:  true do |f| %>
    <p>
      <%=f.label :email %><br/>
      <%=f.text_field :email %>
    </p>
    <p>
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </p>

    <%= f.submit :Login %><br>
    <br>

    <%= link_to 'New User Please Register here', librarians_new_path %>
  <% end %>

</div>